*
{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

html
{
  scroll-behavior: smooth;
}
/*Header Section */
.header
{
  display: flex;
  padding: 20px;
  align-items: center;
  background:#808000;
}
.header img
{
  width: 90px;
  height: 90px;
  border-radius: 100px;
  margin-right: 150px;
margin-left: 100px;
}
.header h1
{
margin-right: 100px;
  text-decoration: none;
}
.icon
{
margin-left: 200px;
display:flex;
padding:50px;
}

/* menu bar */
.menu li a:hover
{
background-color:green;
padding-top:20px;
 padding-bottom: 20px;
}
.menu
{
  list-style: none;
  background-color: grey;
}
.menu li
{
display: inline-block;
  padding: 15px ;
}
.menu li a
{
  text-decoration: none;
  margin: 10px;
  font-size: 20px;
  color: #fff;
}
.menu li a:hover
{
  text-decoration: underline;
}
.logo
{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-left: 40px;
}

h1.heading
{
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #aaddff;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold;
  text-align: left;
  border-left: 2px solid green;
  margin-left: 10px;
}
img
{
  width: 100%;
  height: 300px;
 background-size: cover;
}
/* Body Section */
.row
{
  display: flex;
}
.row .column1
{
  width: 25%;
  background-color:#00ffbf;
  padding: 15px;
}
.row .column2
{
  width: 50%;
  background-color: #ABB2B9;
  padding: 15px;
}
.row .column3
{
  width: 25%;
  background-color:#00ffbf;
  padding: 15px;
}

.course_items
{
  list-style-type: none;
}

.course_items li
{
  padding: 10px;
}

.course_items li a
{
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
.course_items li a:hover
{
  text-decoration: underline;
  background-color: #f1f1f1;
}

/* css for social links */
 .icon
{
  font-size: 20px;
  padding: 10px;
display: flex;
}

.column2 p
{
  font-size: 20px;
  font-family: 'Zen Tokyo Zoo','Roboto','monospace','sans-serif','serif';
}

/* CSS for Contact Section */
.contact
{
  margin: 20px;
  padding: 20px;
  font-size: 20px;
}

/* CSS for Footer section */
.footer
{
  display: flex;
  background-color: #808000;
}

.address
{
  color: #fff;
  margin: 40px;
  padding: 40px;
}

.contact-info
{
  color: #fff;
  margin: 40px;
  padding: 40px;
}

.brochure
{
  color: #fff;
  margin: 40px;
  padding: 40px;
}

.footer
{
width:100%;
display:flex;
}
.footer h2
{
background: #000000;
text-align: center;
}
.col .address
{
margin-left: 2px;
margin-right:200px;
}
.col .contact-info
{
margin-left: 50px;
margin-right: 100px;
}
.footer-icon
{
  font-size: 20px;
  padding: 10px;
 
}
